In [1]:
import pandas as pd

In [2]:
sub_attention = pd.read_csv('./cache/sub_Attention.csv',header=None)
sub_cnn = pd.read_csv('./cache/sub_CNN.csv',header=None)
sub_rnn = pd.read_csv('./cache/sub_RNN.csv',header=None)

In [3]:
sub_rnn[:10]

                                      0         1
0  9a1caf96-681e-3c11-b588-43ac742d7fd2  4.941369
1  82b450db-65c2-351c-84fb-761d76582680  4.524280
2  2eec4606-590c-3fa2-b846-7f92441c54a6  4.795393
3  509f9a68-ac41-35ff-9d2e-2fc12f73ed7f  4.331183
4  395f4b22-1c5f-328a-a19d-5065e0530cbc  5.000000
5  6f1202b2-0c1a-3d79-a675-453aad931e3e  4.434727
6  b4bc951f-ce1e-32ae-b27c-bbecba1fd0ee  4.646963
7  30369496-e4b1-30b9-b427-fe23fd1712d6  3.915221
8  704a36e8-47b1-3b93-bb6a-43610c81e1a0  4.457559
9  8a5711e2-b855-3088-adcc-a4d634e2cbb9  4.733935

In [4]:
sub_attention[:10]

                                      0         1
0  9a1caf96-681e-3c11-b588-43ac742d7fd2  4.913296
1  82b450db-65c2-351c-84fb-761d76582680  4.581802
2  2eec4606-590c-3fa2-b846-7f92441c54a6  4.592709
3  509f9a68-ac41-35ff-9d2e-2fc12f73ed7f  4.494217
4  395f4b22-1c5f-328a-a19d-5065e0530cbc  5.000000
5  6f1202b2-0c1a-3d79-a675-453aad931e3e  4.587624
6  b4bc951f-ce1e-32ae-b27c-bbecba1fd0ee  4.791191
7  30369496-e4b1-30b9-b427-fe23fd1712d6  3.467049
8  704a36e8-47b1-3b93-bb6a-43610c81e1a0  4.736972
9  8a5711e2-b855-3088-adcc-a4d634e2cbb9  4.781411

In [5]:
sub_cnn[:10]

                                      0         1
0  9a1caf96-681e-3c11-b588-43ac742d7fd2  4.893415
1  82b450db-65c2-351c-84fb-761d76582680  4.802356
2  2eec4606-590c-3fa2-b846-7f92441c54a6  4.743685
3  509f9a68-ac41-35ff-9d2e-2fc12f73ed7f  5.000000
4  395f4b22-1c5f-328a-a19d-5065e0530cbc  5.000000
5  6f1202b2-0c1a-3d79-a675-453aad931e3e  4.540631
6  b4bc951f-ce1e-32ae-b27c-bbecba1fd0ee  4.524491
7  30369496-e4b1-30b9-b427-fe23fd1712d6  3.537045
8  704a36e8-47b1-3b93-bb6a-43610c81e1a0  4.666284
9  8a5711e2-b855-3088-adcc-a4d634e2cbb9  4.677890

In [6]:
sub_attention.columns = ['id','score']
sub_rnn.columns = ['id','score']
sub_cnn.columns = ['id','score']

In [7]:
sub = pd.DataFrame()
sub['id'] = sub_attention['id'].copy()
score = (sub_attention.score + sub_rnn.score +sub_cnn.score)/3
score[score>4.7] = 5

In [9]:
sub["score"] = pd.DataFrame(score)

In [11]:
sub.to_csv('./cache/final_sub.csv',index=False,header=False)